<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
  <form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">
      {{ form.name.label(class_="form-label") }}
      {{ form.name(class_="form-control") }}
      {% if form.name.errors %}
        <div class="text-danger">
          {% for error in form.name.errors %}
            <small>{{ error }}</small>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    <div class="mb-3">
      {{ form.map_url.label(class_="form-label") }}
      {{ form.map_url(class_="form-control") }}
      {% if form.map_url.errors %}
        <div class="text-danger">
          {% for error in form.map_url.errors %}
            <small>{{ error }}</small>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    <div class="mb-3">
      {{ form.img_url.label(class_="form-label") }}
      {{ form.img_url(class_="form-control") }}
      {% if form.img_url.errors %}
        <div class="text-danger">
          {% for error in form.img_url.errors %}
            <small>{{ error }}</small>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    <div class="mb-3">
      {{ form.location.label(class_="form-label") }}
      {{ form.location(class_="form-control") }}
      {% if form.location.errors %}
        <div class="text-danger">
          {% for error in form.location.errors %}
            <small>{{ error }}</small>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    <div class="mb-3">
      <div class="form-check">
      {{ form.has_sockets(class_="form-check-input") }}
      {{ form.has_sockets.label(class_="form-check-label") }}
      </div>
      <div class="form-check">
        {{ form.has_toilet(class_="form-check-input") }}
        {{ form.has_toilet.label(class_="form-check-label") }}
      </div>
      <div class="form-check">
        {{ form.has_wifi(class_="form-check-input") }}
        {{ form.has_wifi.label(class_="form-check-label") }}
      </div>
      <div class="form-check">
        {{ form.can_take_calls(class_="form-check-input") }}
        {{ form.can_take_calls.label(class_="form-check-label") }}
      </div>
    </div>
    <div class="mb-3">
      {{ form.seats.label(class_="form-label") }}
      {{ form.seats(class_="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.coffee_price.label(class_="form-label") }}
      {{ form.coffee_price(class_="form-control") }}
    </div>
    {{ form.submit() }}
  </form>
</body>
</html>